<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      table {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <table class="table">
      {% for row in random_list %}
        <tr>
          {% for cell in row %}
          <td id= "{{ forloop.counter	}}" style= "background-color: rgb({{cell.0}},{{cell.1}},{{cell.2}});">12</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </body>
</html>
